body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    text-decoration: dotted;
}
h1:hover{
    color: rgb(5, 74, 74);
}


nav a:hover{
    color: black;
    display: ruby-text;
    

}
header{
    display: flex;
    display: block;
}

header {
    background-color:#007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
article{
    display: flex;
    align-items: flex-start;
    gap: 250px;
    
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

main {
    padding: 20px;
}
p{
    text-align: justify;
}
nav img{
        display: flex;
        display: inline-flex;
        align-items: center;
        justify-content: center; 
        gap: 50px;

}

footer {
    text-decoration: dotted;
    padding: 10px 0;
    background-color: #007bff;
}